title {
    font-family: verdana;
}

body {
    font-family: Verdana;
}

header li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(3, 3, 29);
    text-align: center;
}

a:link, a:visited {
    text-decoration: none;
    color:black;
}

p {
    font-family: verdana;
}

#turbanaldo1, #turbanaldo2 {
    width: 57px;
    height: 90px;
}

li {
    font-family: verdana;
    margin: 6px;
}

li.bold {
    font-weight: bold;
}

.button {
    /* background-color: #200f03; */
    background-color: lightgray;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 12px 4px;
    cursor: pointer;
    display: block;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

footer {
    text-align: right;
}