* {
    margin: 0;
    padding: 0;
}

header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(130,30,30,0.5),rgba(130,30,30,0.5), url(site\images\journey-concept.jpg));
}

#turbanaldo1 {
    width: 99.5px;
    border-radius: 49.75px;
    border-style: groove;
    float: left;
    margin-right: 40px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
}

.morse {
    font-size: 170%;
    background-color: rgb(41, 4, 15);
    color: white;
}